<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Youth Management System</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <h1>Youth Management System</h1>
  </header>
  <main>
    <section class="form-section">
      <h2>Enter your details</h2>
      <form id="youthForm" enctype="multipart/form-data" >
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="secondName">Second Name:</label>
        <input type="text" id="secondName" name="secondName" required>
        
        <label for="idNumber">ID NO:</label>
        <input type="text" id="idNumber" name="idNumber" required>
        
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        
        <label for="subCounty">Sub-County:</label>
        <input type="text" id="subCounty" name="subCounty" required>
        
        <label for="ward">Ward:</label>
        <input type="text" id="ward" name="ward" required>
        
        <label for="village">Village:</label>
        <input type="text" id="village" name="village" required>
        
        <label for="profession">Profession:</label>
        <input type="text" id="profession" name="profession">
        
        <label for="academics">Academic Details:</label>
        <span>
          <h5>Upload kcpe results slip:</h5>
          <input type="file" name="kcpe-results-slip" id="kcpe-results-slip">
          <h5>Upload kcse results slip:</h5>
          <input type="file" name="kcse-results-slip" id="kcse-results-slip">
          <h5>Upload college/university official transcripts:</h5>
          <input type="file" name="College-university-transcripts" id="College-university-transcripts" >
        </span>

        <label for="cv">Upload your CV:</label>
        <input type="file" name="cv" id="cv">
        
        <button type="submit">Submit Details</button>
      </form>
    </section>
    <section class="data-section">
      <div class="data-section-heading">
        <h2>Your Details</h2>
        <button class="changeDetails">Change Details</button>
      </div>
      <table id="youthTable">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>ID NO</th>
            <th>Age</th>
            <th>Sub-County</th>
            <th>Ward</th>
            <th>Village</th>
            <th>Profession</th>
            <th>Academic Details</th>
            <th>Cv</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>
  </main>
  <script src="home.js"></script>
</body>
</html>
